*{
    margin: 0px;
    padding: 0px;
}

.navbar {
    background-color: #ec8611;
    color: #001aff;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    margin-right: 20px;
  }
  
  .logo img {
    width: 50px;
    height: 50px;
  }
  
  .titulo {
    font-size: 24px;
    font-weight: bold;
    margin-right: 40px;
  }
  
  .navs {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navs li {
    margin-right: 20px;
  }
  
  .navs a {
    color: #fff;
    text-decoration: none;
  }
  
  .navs a:hover {
    color: #ccc;
  }  